.stats {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

  margin-top: -80px;
  padding: 0 8%;
  position: relative;
  z-index: 20;
}

.stat-card {
  flex: 1;
  min-width: 220px;
  max-width: 260px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 20px;

  padding: 30px;

  transition: all 0.4s ease;

  cursor: pointer;
}

.stat-card:hover {
  transform: translateY(-10px);

  border-color: #2563eb;

  box-shadow:
    0 0 20px rgba(37,99,235,.4),
    0 0 50px rgba(37,99,235,.25);
}

.stat-card h2 {
  font-size: 3rem;
  color: #2563eb;
  margin-bottom: 10px;
}

.stat-card p {
  color: #d1d5db;
  font-size: 1.1rem;
}