.patent-section{
 padding:100px 80px;
 text-align:center;
}

.patent-section h4{
 color:#2563eb;
}

.patent-section h2{
 margin:15px 0 40px;
 font-size:42px;
}

.patent-container{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:25px;
}

.patent-card{
background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

box-shadow:
0 10px 30px rgba(0,0,0,.2);
}

body.dark .patent-card{
 background:#111827;
}

.patent-card p{
 margin-top:10px;
 color:#22c55e;
}